BRIDGE_API_KEY=сюда_ставится_ключ_для_авторизации_в_bridge
BRIDGE_JOB_TIMEOUT_SECONDS=300 #сюда_ставится_таймаут_в_секундах_для_ожидания_выполнения_задачи
# Не забывайте менять значение в настройках Docker-контейнера